.header {    
    display: flex;
    align-items: center;
    background-color: #8e24aa;
    padding: 10px;
    color: white;
    gap: 1.5rem;
    min-height: 65px;
}

.header .material-symbols-outlined {
    font-size: 25px;
    cursor: pointer;
}

.title {
    flex-grow: 1;
    font-size: 24px;
    color: rgb(255, 255, 255);
}

.user {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 1rem;
    overflow: hidden;
}

.header .user-avatar {
    font-size: 45px;
}

.user-info {
    display: flex;
    flex-direction: column;
    color: white;
    overflow: hidden;
}

.user-info div {
    line-height: 1.4;
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;
}

.user-name {
    font-size: 20px;
}

.user-last-seen {
    font-size: 12px;
    color: rgb(255, 255, 255, 0.6);
}