.header {    
    display: flex;
    align-items: center;
    background-color: #8e24aa;
    padding: 10px;
    color: white;
    gap: 1.5rem;
    min-height: 65px;
}

.header .material-symbols-outlined {
    font-size: 25px;
    cursor: pointer;
}

.title {
    flex-grow: 1;
    font-size: 24px;
    color: rgb(255, 255, 255);
}

.user {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 1rem;
    overflow: hidden;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.header .user-avatar {
    font-size: 45px;
}

.user-info {
    display: flex;
    flex-direction: column;
    color: white;
    overflow: hidden;
}

.user-info div {
    line-height: 1.4;
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;
}

.user-name {
    font-size: 20px;
}

.user-last-seen {
    font-size: 12px;
    color: rgb(255, 255, 255, 0.6);
}

.header .material-symbols-outlined {
    transition: all 0.3s ease;
}

.burger,
.search,
.back-arrow,
.menu {
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.user:hover,
.burger:hover,
.search:hover,
.back-arrow:hover,
.menu:hover {
    background-color: #6f1b8a;
}

.user:active,
.burger:active,
.search:active,
.back-arrow:active,
.menu:active {
    filter: brightness(0.8);
}